{% if todo_list %}
    <div class="list-group bg-info">
        {% for todo in todo_list %}
            <p class="list-group-item list-group-item-info">
                <a href="{{ todo.get_absolute_url }}">
                    {{ todo }}
                </a>
                <a class="badge"
                   href="{% url 'list_todo_delete' todo.id %}">
                    Del
                </a>
                <span class="badge">{{ todo.item_set.count }}</span>
            </p>

        {% endfor %}
    </div>
{% endif %}